*
{
    font-family: sans-serif;
    margin: 0;
}

body
{
    width: 30%;
    margin: auto;
}

main
{
border: 1px solid black;
width: 600px;
margin-top: 30px;
margin: 20px;
background-color: beige;
}


#thanks h1
{
    color: green;
}

iframe
{
    margin-top: 20px;
}



#details , #thanks
{
    margin-top: 60px;
    text-align: center;
}

#socials
{
    margin-top: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    line-height: 50px;
}

#socials button 
{
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

#socials button a
{
    text-decoration: none;
    color: white;
}